// Define variable defaults
$primary: #1ed760;
$primary-dk: #1ed75f93;
$accent: #6638b1;
$grey: #bdbdbd;
$white: #f7fdff;

// $body-bg: #111311;
$body-color: $white;
$grey-d: #343a40;

.primary-color {
    color: $primary;
}