
  body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-image: linear-gradient(to right top, #393939, #375a77, #0086a4, #00b29d, #1ed760);
    background-image: linear-gradient(to top, #393939, #375a77, #0086a4, #00b29d, #1ed760);
    font-family: $fw-main;
    color: $grey-d;
  }

