
  body {
    // background: rgb(9,78,34);
    // background: radial-gradient(circle, rgba(9,78,34,1) 0%, rgba(0,0,0,1) 100%); 
    background-image: linear-gradient(to top, #393939, #375a77, #0086a4, #00b29d, #1ed760);
    background: rgb(7,68,28);
    background: linear-gradient(0deg, rgba(7,68,28,1) 0%, rgba(0,0,0,1) 100%); 
    font-family: $fw-main;
  }

body, html {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footer {
  border-radius: 20px;
}
